.header {
  position: fixed;
  top: 0;
  left: 0;right: 0;
  padding: size(32px) 0;
  background-color: rgba($color-blackcurrant, 0.9);
  z-index: 1;

  @include vp-768 {
    padding: 20px 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: size(60px);
    position: relative;
  }

  &__logo-link {
    aspect-ratio: 247 / 35;
    width: size(247px);
    flex-shrink: 0;
    transition: opacity $trans-default;

    @include vp-768 {
      width: 150px;
    }

    @include hover-focus {
      &[href] {
        opacity: 0.7;
      }
    }
  }

  .header__nav {
    @include vp-768 {
      position: absolute;
      background-color: rgba($color-blackcurrant, 0.9);
      top: calc(100% + 20px);
      left: -14px;
      right: -14px;
      padding: 50px 14px;
      min-height: calc(100vh - 72px);
      height: 100%;
      align-items: flex-start;
      overflow: auto;
      opacity: 0;
      pointer-events: none;
      transition: opacity $trans-default;
      z-index: 1;
    }
  }

  .header__nav.is-open {
    opacity: 1;
    pointer-events: unset;
  }

  .header__links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: size(60px);

    @include vp-768 {
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
    }
  }

  .header__link {
    text-transform: uppercase;
    font-size: size(13px);
    font-weight: 600;
    color: $color-default-white;
    transition: color $trans-default;

    @include vp-768 {
      font-size: 16px;
    }

    @include hover-focus {
      color: $color-aqua;
    }
  }

  .header__burger {
    display: none;

    @include vp-768 {
      display: block;
    }
  }
}
