.order {
  background-color: $color-jaguar;
  background-image: url("/img/order-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding: size(120px) 0 size(150px);
  flex-grow: 1;

  @include vp-768 {
    padding: 70px 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: size(80px);
    color: $color-default-white;

    @include vp-768 {
      gap: 50px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: size(30px);

    @include vp-768 {
      gap: 20px;
    }

    p {
      font-size: size(18px);
      color: $color-silver-2;

      @include vp-768 {
        font-size: 14px;
      }
    }
  }

  &__title {
    span {
      color: $color-cyanblue;
    }
  }

  &__schema {
    display: grid;
    grid-template-columns: repeat(5, size(190px));
    align-items: flex-start;
    justify-content: center;
    gap: size(50px);
    margin: 0 size(10px);

    @include vp-768 {
      display: flex;
      flex-direction: column;
      margin: 0;
    }
  }

  &__schema-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: size(20px);
    text-align: center;
    font-size: size(16px);
    flex-shrink: 0;
    position: relative;

    @include vp-768 {
      flex-direction: row;
      text-align: left;
    }

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        width: size(110px);
        height: size(6px);
        right: size(-80px);
        top: size(47px);
        background-image: url("/img/svg/points.svg");
        background-repeat: no-repeat;
        background-size: contain;

        @include vp-768 {
          aspect-ratio: 110 / 6;
          width: 45px;
          transform: rotate(90deg);
          transform-origin: left top;
          right: unset;
          left: 35px;
          top: 105%;
        }
      }
    }

    &::before {
      content: "";
      width: size(100px);
      height: size(100px);
      flex-shrink: 0;
      border-radius: 50%;
      background-color: $color-cyanblue;
      border: size(5px) solid $color-darkcyan;
      background-image: var(--schema-icon);
      background-repeat: no-repeat;
      background-size: size(55px) size(55px);
      background-position: center;

      @include vp-768 {
        width: 70px;
        height: 70px;
        background-size: 40px 40px;
      }
    }
  }

  &__form {
    width: 100%;
  }
}
