@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Lato";

  font-display: swap;
  src: url("../fonts/lato-bold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Lato";

  font-display: swap;
  src: url("../fonts/lato-semibold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Lato";

  font-display: swap;
  src: url("../fonts/lato-regular.woff2") format("woff2");
}
