// Colors
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482
$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

$color-blackcurrant:                #10101D;
$color-aqua:                        #43ABF0;
$color-cyanblue:                    #3E9CDC;
$color-slategray:                   #6F6D7B;
$color-dark-slategray:              #2A2B30;
$color-dimgray:                     #3D4050;
$color-silver:                      #C3C3C3;
// Typography
// переменная используемая в html для подключения скейлинга
$fz-default:                        20px;

$ff-lato:                           "Lato", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;
