// Vendor
@import "vendor/nouislider";

// Global
@import "global/variables";
@import "global/functions";
@import "global/normalize";
@import "global/mixins";
@import "global/media-mixins";
@import "global/fonts";
@import "global/reboot";
@import "global/utils";
@import "global/container";

// Elements
@import "elements/burger";
@import "elements/title";
@import "elements/button";
@import "elements/custom-select";
@import "elements/custom-input";
@import "elements/range";
@import "elements/input-upload";

// Blocks
@import "blocks/header";
@import "blocks/intro";
@import "blocks/order";
@import "blocks/form";
@import "blocks/footer";
