.custom-select {
  position: relative;

  select {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }

  &__placeholder {
    position: absolute;
    font-size: size(18px);
    color: $color-jaguar;
    top: 50%;
    left: size(10px);
    transform: translateY(-50%);
    transition: transform $trans-default, opacity  $trans-default, color  $trans-default;
    pointer-events: none;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: size(48px);
    padding: size(12px) size(10px);
    background-color: rgba($color-default-white, 0.85);
    border: size(1px) solid $color-default-white;
    border-radius: size(3px);
    color: $color-jaguar;
    outline: none;
    cursor: pointer;
    transition:  border-radius $trans-default, border $trans-default, background-color $trans-default, color $trans-default;

    @include hover-focus {
      border: size(1px) solid rgba($color-default-black, 0.5);
    }
  }

  &__list {
    position: absolute;
    top: 100%;
    z-index: 2;
    width: 100%;
    padding: size(4px) size(4px) size(4px) size(10px);
    background-color: $color-jaguar;
    border: size(1px) solid $color-dimgray;
    border-radius: 0 0 size(3px) size(3px);
    border-top: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility $trans-default, opacity $trans-default;
  }

  &__items {
    max-height: size(150px);
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: size(7px);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-cyanblue;
      border-radius: size(3px);
    }

    &::-webkit-scrollbar-track {
      background-color: $color-dimgray;
      border-radius: size(3px);
    }
  }

  &__item {
    cursor: pointer;
    transition: color $trans-default;
    font-size: size(18px);
    line-height: size(34px);

    &[aria-selected="true"] {
      color: $color-aqua-2;

      @include hover-focus {
        color: $color-aqua-2;
      }
    }

    @include hover-focus {
      color: $color-aqua-2;
    }
  }

  &__error {
    position: absolute;
    top: size(-10px);
    transform: translateY(-100%);
    font-size: size(18px);
    left: 0;
    color: $color-red;
    opacity: 0;
    transition: opacity $trans-default;
  }

  &__text {
    font-size: size(18px);
    flex-shrink: 0;
    width: 80%;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0;
    transition: opacity $trans-default;
  }

  &__icon {
    flex-shrink: 0;
    display: grid;
    place-items: center;
    transition: transform $trans-default;

    svg {
      width: size(20px);
      height: size(20px);
    }
  }

  &.is-open {
    .custom-select__button {
      background-color: rgba($color-dimgray, 0.85);
      color: $color-default-white;
      border-color: $color-dimgray;
      border-bottom: size(1px) solid $color-transparent;
      border-radius: size(3px) size(3px) 0 0;
    }
    .custom-select__list {
      visibility: visible;
      opacity: 1;
    }

    .custom-select__icon {
      transform: rotate(180deg);
    }

    .custom-select__placeholder {
      color: $color-default-white;
    }
  }

  &.not-empty {
    .custom-select__text {
      opacity: 1;
    }

    .custom-select__placeholder {
      opacity: 0;
    }
  }

  &.is-invalid {
    .custom-select__error {
      opacity: 1;
    }

    .custom-select__button {
      border: size(1px) solid $color-red;

      @include hover-focus {
        border: size(1px) solid $color-red;
      }
    }
  }
}
