.form {
  .form__fields {
    display: grid;
    grid-template-columns: repeat(3, calc((100% - size(60px)) / 3));
    gap: size(30px);
    margin-bottom: size(30px);
  }

  &__button {
    font-size: size(15px);
    min-height: size(48px);
    min-width: size(370px);
    margin: 0 auto;
  }
}
