.input-upload {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-upload input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.input-upload__preview-item {
  position: relative;
}

.input-upload__preview-file-size {
  white-space: nowrap;
}

.input-upload__preview-file-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-upload__preview-file-info {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: size(20px);
  padding: size(10px) 0;
}

.input-upload__preview-item-remove {
  display: grid;
  place-items: center;
  border: none;
  padding: 0;
  position: absolute;
  font-size: size(10px);
  width: size(15px);
  height: size(15px);
  border-radius: size(5px);
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: $color-red;
  color: $color-default-white;
}

.is-invalid .input-upload__preview-item .input-upload__preview-file-size {
  color: $color-red;
}

.input-upload__message {
  position: absolute;
  bottom: size(-10px);
  transform: translateY(100%);
  font-size: size(18px);
  left: 0;
  color: $color-red;
}
