.range {
  background-color: $color-silver-3;
  height: size(8px);
  border-radius: size(10px);
  border: size(1px) solid $color-default-white;

  .noUi-handle {
    width: size(22px);
    height: size(22px);
    right: 0;
    top: size(-8px);
    transform: translateX(50%);
    border-radius: 50%;
    background-color: $color-aqua-2;
    border: size(3px) solid $color-darkcyan;
    box-shadow: none;
    cursor: grab;

    &::before,
    &::after {
      display: none;
    }
  }
}
