.title {
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;

  &--h1 {
    font-size: size(48px);

    @include vp-768 {
      font-size: 28px;
    }
  }

  &--h2 {
    font-size: size(36px);
    font-weight: 800;

    @include vp-768 {
      font-size: 22px;
    }
  }
}
