.title {
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;

  &--h1 {
    font-size: size(48px);

    @include vp-768 {
      font-size: 28px;
    }
  }

  &--h2 {
    font-size: size(16px);
    line-height: size(24px);
    font-weight: 400;
    letter-spacing: size(-0.2px);
    text-transform: uppercase;
    padding: size(16px) size(32px);
    margin-bottom: size(24px);
  }
}
